schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="states">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="state" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"></xs:element>
                            <xs:element name="capital" type="xs:string"></xs:element>
                            <xs:element name="area" type="xs:integer"></xs:element>
                            <xs:element name="pop" type="xs:integer"></xs:element>
                            <xs:element name="crop" type="xs:string"></xs:element>
                            <xs:element name="lang" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>